<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TibiaBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TibiaBot.Properties.Settings>
            <setting name="ManaSittingSpellMana" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="ManaSittingSpellKey" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ManaSittingFoodTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ManaSittingFoodKey" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ManaSittingSkillTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ManaSittingSkillKey" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ManaSittingLogoutTime" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="AlarmAmount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AlarmIsPercent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmIsFlat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmIsHealth" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlarmIsMana" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlarmIsSouls" serializeAs="String">
                <value>False</value>
            </setting>
        </TibiaBot.Properties.Settings>
    </userSettings>
</configuration>